.container {
  height: auto;
  padding: 2rem;
  font-size: 2rem;
  min-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.info__container {
  position: relative;
  width: auto;
  height: 100%;
  margin: 0 2rem;
}

.info {
  position: absolute;
  z-index: 100;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  font-size: 2rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
