.container {
  position: relative;
  width: 100vw;
  flex: 1;
  display: flex;
  overflow: auto;
  flex-direction: column;
  align-items: center;
}

.leaderboard {
  position: relative;
  width: 90rem;
  flex: 1;
  max-height: 100%;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  background-color: #402f34;
  display: flex;
  flex-direction: column;
}

.ranking {
  flex: 1;
  overflow: auto;
}

.ranking::-webkit-scrollbar {
  width: 20px;
}

.ranking::-webkit-scrollbar-track {
  background-color: transparent;
}

.ranking::-webkit-scrollbar-thumb {
  background-color: #db6b33;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

.ranking::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

li {
  font-size: 3rem;
}

.content {
  background-color: aqua;
  height: 0;
}

.ground {
  position: relative;
  background-color: aqua;
  width: 100%;
  height: 100px;
  bottom: 100px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
}

.loading {
  position: relative;
  width: 90rem;
  flex: 0 0 100%;
  max-height: 100%;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  background-color: #2b131a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
