.container {
  width: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 1rem;
  font-weight: 900;
  white-space: nowrap;
}

.image__container {
  max-width: 100px;
}

.image__container img {
  max-width: calc(100%);
}

.image__container img.jb {
  transform: scale(1.4);
}
