.container {
  width: 90rem;
  height: auto;
  display: flex;
  color: whitesmoke;
}

.first {
  min-width: calc(1 / 4 * 90rem);
  padding: 1rem 0;
  padding-left: 9rem;
  font-size: 1.5rem;
}

.second {
  min-width: calc(2 / 4 * 90rem);
  padding: 1rem 0;
  padding-left: 4rem;
  font-size: 1.5rem;
}

.label__first {
  background-color: #7c5d66;
}

.label__second {
  background-color: #9b7a84;
}

.third {
  min-width: calc(1 / 4 * 90rem);
  padding: 1rem 0;
  padding-left: 4rem;
  font-size: 1.5rem;
}
