@font-face {
  font-family: clasa;
  src: url("PinkChicken-Regular.ttf");
}
@font-face {
  font-family: title;
  src: url("PinkChicken-Regular.ttf");
}

* {
  box-sizing: border-box;
  font-size: 10px;
  font-family: title;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fef1e6;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 300px) and (max-width: 500px) {
  * {
    font-size: 6px;
  }
}
